:root{
    --primary: #ff00ff;
}

#main,
body,
html
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #a6dae8, #96c0f9);
    overflow-x: hidden;
}
#main{
  position: relative;
}
